body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(89deg, #FF5EDF 0%, #04c8de 100%) ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}